body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#add_input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#deleteButton{
    background-color: #ff9900;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.checked {
    text-decoration: line-through;
    color: #888;
}